{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Coral - Onepage portfolio Template">
    <meta name="author" content="esrat">

    <!-- Fontawseom Icon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <title>iCoffee - Marketing Digital</title>
    <link rel="shortcut icon" href="{% static 'assets/img/cafe/cof.ico' %}">
</head>

<body id="page-top">

    <!-- NAVBAR
    ================================================= -->
    
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand js-scroll-trigger" href="http://www.icoffee.com.ar">
                <h2 style="color:#000">iCoffee</h2>
            </a>

             <!-- Toggler -->

                <!-- Collapse -->
            
                <!-- / .navbar-collapse -->
                <a class="nav-item nav-link js-scroll-trigger" href="#page-top">
                        <i class="fa fa-angle-double-up"></i>
                    </a>

        </div>
        <!-- / .container -->
        
    </nav>

    <!-- HERO
    ================================================== -->

    <!-- SECTIONS
    ================================================== -->
    <!-- PAGES
    ================================================== -->
    
    <section class="section" id="single-portfolio">
        <div class="container">
            <div class="row justify-content-center">
                    <br><br><br><br><br><br>
                    
                <div class="col-lg-8 col-md-12 col-sm-12">
                        <header class="p-top-double p-bottom-double pillar-hero flex flex-align-middle flex-reset-xs">
                                <h1 class="lg-title mb-2 p-left-none text-center-xs text-shadow">¿Qué es Facebook Ads y para qué sirve?</h1>
                            </header>
                    <div class="portfolio-single">
                        <div class="large-image">
                            <img src="{% static 'assets/img/portfolio/fbads.png' %}" alt="" class="img-fluid">
                        </div>
                        
                         
                        <div class="portfolio-details">
                            <h2 class="portfolio-title">Publicitar con Facebook Ads</h2>
                            <p>Facebook Ads es la plataforma, sistema o herramienta con la que podrás realizar todo tipo de campañas publicitarias dentro de esta red social y, por ende, también en Instagram. Los anuncios de estas dos súper plataformas sociales pueden ser beneficiosos para cualquier marca, empresa, negocio, profesional, etc. que quiera hacerse mucho más visible en Internet, tanto a ellos mismos como a sus productos y/o servicios, de cara a los millones de usuarios (o potenciales clientes) existentes en ellas. </p>
                            <p>Lo cierto es que la herramienta Facebook Ads se ha convertido en una de las vías publicitarias online más utilizadas en los últimos años, ya que permite invertir en publicidad segmentando la audiencia con lo cual se rentabiliza al máximo la inversión y lo más importante: se consigue convertir al público objetivo en futuros clientes.</p>
                            <br>

                            <h2 class="portfolio-title">¿Cuánto cuestan los anuncios de Facebook?</h2>
                            <p>Publicar anuncios en Facebook, Instagram y Audience Network está al alcance de presupuesto. Una campaña publicitaria puede llegar a costar menos de lo que algunas personas gastan en café todos los días. ¿Cuánto cuesta exactamente que tu anuncio que se muestre a alguien? Eso se determina en la subasta de anuncios. Obtén más información acerca de los precios de nuestros anuncios y sobre cómo establecer el presupuesto que te resulte más adecuado.</p>
                            <p>Tú le indicas a Facebook cuánto quieres gastar en publicidad. Nosotros trataremos de proporcionarte el mayor número posible de resultados por el importe especificado. Si quieres gastar 5 USD por semana, puedes hacerlo. Si quieres gastar 50.000 USD, también puedes hacerlo.</p>
                            <br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <!-- FOOTER
    ================================================== -->
    <footer class="top-padding bg-dark">
            <!--Content -->
            <div class="container">
                <div class="row align-self-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <!-- Brand -->
                            <a href="#" class="footer-brand text-white">
                                iCoffee
                            </a>
                            <p>iCoffee Group</p>
                        </div>
                    </div>
    
                    <div class="col-lg-2 ml-lg-auto col-md-2">
    
                        <!-- Links -->
                        <ul class="footer-link list-unstyled ml-0 justify-content-end" style="display:none;">
                            <li>
                                <a class="text-white">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a class="text-white">
                                    Location
                                </a>
                            </li>
                            <li>
                                <a class="text-white">
                                    Website
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4">
    
                        <!-- Links -->
                        <ul class="footer-link list-unstyled ml-0 justify-content-end">
                            <li>
                                <i class="fa fa-mobile"></i>+54 3513118613
                            </li>
                            <li>
                                <i class="fa fa-location-arrow"></i>Cordoba, Argentina
                            </li>
                            <li>
                                <i class="fa fa-globe"></i> www.icoffee.com.ar
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / .row -->
    
                <div class="row justify-content-md-center footer-copy">
                    <div class="col-lg-8 col-md-6 col-sm-6 text-center">
                        <p class="lead text-white-50">&copy; Copyright Reserved to iCoffee Group | Design and Developed by Burrito</p>
                    </div>
                </div>
            </div>
            <!-- / .container -->
    </footer>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-contact.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.js' %}"></script>

</body>

</html>