{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<style>

[_ngcontent-amt-c50].offer-label p[_ngcontent-amt-c50] {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	line-height: 16px;
	color: #2d2e3f;
	font-weight: 400;
	font-family: "Maison Neue",sans-serif;
	font-size: 14px;
}
[_ngcontent-amt-c51].trade-env-item {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	align-items: flex-start;
	font-size: 14px;
	line-height: 16px;
	color: #4a4a5d;
}
* {
margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;
}
p {
line-height: 21px;
font-size: 14px;
}
[_ngcontent-amt-c49].offer-amount-col {
padding-top: 5px;
}
[_ngcontent-amt-c49].offer-description {
padding: 10px 20px;
-webkit-transition: .3s;
transition: all .3s ease;
}
a {
font-size: 14px;
color: #2b8ced;
text-decoration: none;
-webkit-transition: .2s;
transition: all .2s ease;
}
a[_ngcontent-amt-c49] {
color: inherit;
text-decoration: none;
}
[_ngcontent-amt-c49].offer-box {
width: 255px;
height: calc(100% - 30px);
margin-bottom: 30px;
background-color: #fff;
border: 1px solid #e9e9ee;
-webkit-transition: .3s;
transition: all .3s ease;
overflow: hidden;
border-radius: 3px;
}
.col {
padding: 0 15px;
}
.row {
margin-left: -15px;
margin-right: -15px;
}
[_ngcontent-amt-c39].offers {
width: 100%;
display: -webkit-box;
display: flex;
-webkit-box-pack: start;
justify-content: flex-start;
flex-wrap: wrap;
}
[_nghost-amt-c39] {
display: -webkit-box;
display: flex;
-webkit-box-pack: start;
justify-content: flex-start;
}
.base-container {
width: 1140px;
max-width: 100%;
padding: 0 15px;
position: relative;
margin-left: auto;
margin-right: auto;
}
[_ngcontent-amt-c35].base-container {
width: 1170px;
padding: 0 0 0 30px;
}
section {
padding: 50px 0;
}
section[_ngcontent-amt-c35] {
position: relative;
padding-top: 0px;
background-repeat: no-repeat;
background-position: top center;
background-size: 100%;
min-height: 400px;
}
[_ngcontent-amt-c35].game-page {
height: 100.1%;
}
[_ngcontent-amt-c0].router-outlet-wrapper {
-webkit-box-flex: 1;
flex: 1 0 auto;
}
[_ngcontent-amt-c0].main-content {
position: relative;
margin-top: 60px;
margin-left: 70px;
z-index: 1;
display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
height: 100%;
min-height: calc(100vh - 60px);
overflow: auto;
-webkit-overflow-scrolling: touch;
-webkit-transition: .2s;
transition: .2s;
}
[_ngcontent-amt-c0].main-content.sidenav-not-visible {
margin-left: 0px;
}
[_ngcontent-amt-c0].page-container {
z-index: 1;
display: block;
overflow: hidden;
-webkit-overflow-scrolling: touch;
background-color: #fafafa;
color: #4a4a5d;
-webkit-transition: .2s;
transition: .2s;
}
body {
background: #fafafa;
}
body {
height: 100%;
font-family: "Maison Neue",sans-serif;
font-weight: 400;
color: #4a4a5d;
background: #fafafa;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}
html {
height: 100%;
box-sizing: border-box;
}
[_ngcontent-amt-c49].offer-price {
font-size: 18px;
line-height: 25px;
color: #36af47;
margin-right: 3px;
}
[_ngcontent-amt-c49].offer-units {
font-size: 12px;
color: #6b6b7e;
text-transform: capitalize;
}

</style>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'filter/css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'filter/css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
	<link rel="stylesheet" href="{% static 'dorado/dorado.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<title>iCoffee - WoW Classic</title>
	<link rel="shortcut icon" href="{% static 'img/cof.ico' %}">
</head>
<body>

  <eld-root class="ng-tns-c0-0" _nghost-amt-c0="" ng-version="8.1.3">
		<eld-navbar class="header ng-tns-c1-1" _ngcontent-amt-c0="" _nghost-amt-c1="">
			<header class="ng-tns-c1-1" _ngcontent-amt-c1="">
				<div class="app-header ng-trigger ng-trigger-fadeIn" style="animation-play-state: running;" _ngcontent-amt-c1="">
					<eld-refresh-page-message class="ng-tns-c1-1 ng-tns-c6-4" _ngcontent-amt-c1="" _nghost-amt-c6=""><!----></eld-refresh-page-message>

					<nav class="ng-tns-c1-1" _ngcontent-amt-c1="">
						<div class="left-nav-side" _ngcontent-amt-c1="">
							<eld-site-logo class="ng-tns-c1-1" _ngcontent-amt-c1="" _nghost-amt-c7="">
								<a class="brand-logo" href="/" _ngcontent-amt-c7="">
									<div class="brand-icon" _ngcontent-amt-c7=""><!---->
										<eld-shared-svg-logo-with-text class="ng-star-inserted" _ngcontent-amt-c7="" _nghost-amt-c20="">
											<img src="{% static 'img/cafe6.png' %}" alt="" class="img-fluid" style="width:50px;height:50px;">
									</div>
								</a>
							</eld-site-logo>
							<eld-categories-menu class="ng-tns-c1-1 ng-tns-c8-5" _ngcontent-amt-c1="" _nghost-amt-c8="">
								<div class="categories-menu" _ngcontent-amt-c8=""><!----><!----><!---->

								</eld-categories-menu>
							</div>
							<div class="navbar-content" _ngcontent-amt-c1=""><!---->
								<div class="button-wrapper ng-tns-c1-1 ng-star-inserted" _ngcontent-amt-c1="">
									<eld-shared-button class="ng-tns-c1-1" type="button" _ngcontent-amt-c1="" text="COMMON.SELL" _nghost-amt-c9="">
									<a href="/gold">
										<button class="button waves-effect waves-light hyphenate button-gold" type="button" _ngcontent-amt-c9="">
											<span class="button-text" _ngcontent-amt-c9=""><!----><!---->Gold </span>
										</button>
									</a>
									</eld-shared-button>
								</div>
								<eld-navbar-links class="ng-tns-c1-1" _ngcontent-amt-c1="" _nghost-amt-c10="">
									<div class="navbar-links" _ngcontent-amt-c10=""><!----><!---->
										<a class="navbar-link ng-star-inserted" href="/buy" _ngcontent-amt-c10="" routerlinkactive="router-link-active" routerlink="/buy"> Buy </a>
										<a class="navbar-link ng-star-inserted" href="/sell" _ngcontent-amt-c10="" routerlinkactive="router-link-active" routerlink="/sell"> Sell </a>
										<a class="navbar-link ng-star-inserted" href="/contact" _ngcontent-amt-c10="" routerlinkactive="router-link-active" routerlink="/contact"> Contact </a>
									</div>
								</eld-navbar-links><!----><!----><!----><!----><!----><!---->
							</div>
						</nav>
					</div>
				</header>
			</eld-navbar>

			<br><br><br><br>
					<img src="{% static 'assets/img/wow/ragbanner1.png' %}" alt="" class="img-fluid">


<div class="game-offer-page" style='background-image: url("https://assets.eldorado.gg/images/others/v5/buy-offer-bg.jpg");' _ngcontent-amt-c52="">
	<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder">
						<a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
					</li>
					<li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
					<li class="filter" data-filter=".us"><a href="#0" data-type="us">US</a></li>
					<li class="filter" data-filter=".eu"><a href="#0" data-type="eu">EU</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->

		<section class="cd-gallery">
			<div class="container">
			<ul>
				<li class="mix us check1 radio2 option3">
					<a onclick="updateData1();" href="/offer">
					<img src="{% static 'img/goldimg.png' %}" alt="Image 1">
					</a>
							<article>
								<p class="ng-tns-c50-50">
									<eld-shared-offer-item-label class="ng-tns-c54-31 ng-tns-c50-33" _nghost-amt-c50="" _ngcontent-amt-c54=""><!---->
										<div class="offer-label ng-tns-c50-33 ng-trigger ng-trigger-fadeIn ng-star-inserted" _ngcontent-amt-c50="">
											<p class="ng-tns-c50-33" _ngcontent-amt-c50=""><!----><!---->
												<eld-shared-trade-env-item class="ng-tns-c50-33 ng-star-inserted" _ngcontent-amt-c50="" _nghost-amt-c51="">
													<span class="trade-env-item" _ngcontent-amt-c51=""><!----><!----><!----><!----><!---->
														&nbsp;&nbsp;&nbsp;<img class="ng-star-inserted" alt="na-flag" src="https://assets.eldorado.gg/images/others/v5/na-flag.png" _ngcontent-amt-c51="">&nbsp;
														<span id="region1" _ngcontent-amt-c51="">NA</span></span>
												</eld-shared-trade-env-item>&nbsp;<!---->

													<span class="dot">•</span>&nbsp; <!---->
													<span id="server1" server="faerlina">Faerlina</span>&nbsp;<!---->
													<span class="dot">•</span>&nbsp; <!---->
													<span id="faction1" _ngcontent-ton-c51="">Alliance</span>

													<div class="offer-description" _ngcontent-amt-c49="">
														<p class="offer-amount-col" _ngcontent-amt-c49="">
														<strong class="offer-price" _ngcontent-amt-c49="">$</strong><strong id="unitprice1" class="offer-price" _ngcontent-amt-c49="">0.33</strong><!---->
															<span class="offer-units ng-star-inserted" _ngcontent-amt-c49="">/ unit</span>
														</p>
													</div>
												</p>
										</p>
								</article>
				</li>
				<li class="mix us check1 radio2 option3">
					<a onclick="updateData2();" href="/offer">
					<img src="{% static 'img/goldimg.png' %}" alt="Image 1">
					</a>
							<article>
								<p class="ng-tns-c50-50">
									<eld-shared-offer-item-label class="ng-tns-c54-31 ng-tns-c50-33" _nghost-amt-c50="" _ngcontent-amt-c54=""><!---->
										<div class="offer-label ng-tns-c50-33 ng-trigger ng-trigger-fadeIn ng-star-inserted" _ngcontent-amt-c50="">
											<p class="ng-tns-c50-33" _ngcontent-amt-c50=""><!----><!---->
												<eld-shared-trade-env-item class="ng-tns-c50-33 ng-star-inserted" _ngcontent-amt-c50="" _nghost-amt-c51="">
													<span class="trade-env-item" _ngcontent-amt-c51=""><!----><!----><!----><!----><!---->
														&nbsp;&nbsp;&nbsp;<img class="ng-star-inserted" alt="na-flag" src="https://assets.eldorado.gg/images/others/v5/na-flag.png" _ngcontent-amt-c51="">&nbsp;
														<span id="region2" _ngcontent-amt-c51="">NA</span></span>
												</eld-shared-trade-env-item>&nbsp;<!---->

													<span class="dot">•</span>&nbsp; <!---->
													<span id="server2" server="faerlina">Faerlina</span>&nbsp;<!---->
													<span class="dot">•</span>&nbsp; <!---->
													<span id="faction2" _ngcontent-ton-c51="">Horde</span>

													<div class="offer-description" _ngcontent-amt-c49="">
														<p class="offer-amount-col" _ngcontent-amt-c49="">
														<strong class="offer-price" _ngcontent-amt-c49="">$</strong><strong id="unitprice2" class="offer-price" _ngcontent-amt-c49="">0.29</strong><!---->
															<span class="offer-units ng-star-inserted" _ngcontent-amt-c49="">/ unit</span>
														</p>
													</div>
												</p>
										</p>
								</article>
				</li>
				<li class="mix us check1 radio2 option3">
					<a onclick="updateData3();" href="/offer">
					<img src="{% static 'img/goldimg.png' %}" alt="Image 1">
					</a>
							<article>
								<p class="ng-tns-c50-50">
									<eld-shared-offer-item-label class="ng-tns-c54-31 ng-tns-c50-33" _nghost-amt-c50="" _ngcontent-amt-c54=""><!---->
										<div class="offer-label ng-tns-c50-33 ng-trigger ng-trigger-fadeIn ng-star-inserted" _ngcontent-amt-c50="">
											<p class="ng-tns-c50-33" _ngcontent-amt-c50=""><!----><!---->
												<eld-shared-trade-env-item class="ng-tns-c50-33 ng-star-inserted" _ngcontent-amt-c50="" _nghost-amt-c51="">
													<span class="trade-env-item" _ngcontent-amt-c51=""><!----><!----><!----><!----><!---->
														&nbsp;&nbsp;&nbsp;<img class="ng-star-inserted" alt="na-flag" src="https://assets.eldorado.gg/images/others/v5/na-flag.png" _ngcontent-amt-c51="">&nbsp;
														<span id="region3" _ngcontent-amt-c51="">NA</span></span>
												</eld-shared-trade-env-item>&nbsp;<!---->

													<span class="dot">•</span>&nbsp; <!---->
													<span id="server3" server="faerlina">Thalnos</span>&nbsp;<!---->
													<span class="dot">•</span>&nbsp; <!---->
													<span id="faction3" _ngcontent-ton-c51="">Aliance</span>

													<div class="offer-description" _ngcontent-amt-c49="">
														<p class="offer-amount-col" _ngcontent-amt-c49="">
														<strong class="offer-price" _ngcontent-amt-c49="">$</strong><strong id="unitprice3" class="offer-price" _ngcontent-amt-c49="">0.42</strong><!---->
															<span class="offer-units ng-star-inserted" _ngcontent-amt-c49="">/ unit</span>
														</p>
													</div>
												</p>
										</p>
								</article>
				</li>
				<li class="mix us check1 radio2 option3">
					<a onclick="updateData4();" href="/offer">
					<img src="{% static 'img/goldimg.png' %}" alt="Image 1">
					</a>
							<article>
								<p class="ng-tns-c50-50">
									<eld-shared-offer-item-label class="ng-tns-c54-31 ng-tns-c50-33" _nghost-amt-c50="" _ngcontent-amt-c54=""><!---->
										<div class="offer-label ng-tns-c50-33 ng-trigger ng-trigger-fadeIn ng-star-inserted" _ngcontent-amt-c50="">
											<p class="ng-tns-c50-33" _ngcontent-amt-c50=""><!----><!---->
												<eld-shared-trade-env-item class="ng-tns-c50-33 ng-star-inserted" _ngcontent-amt-c50="" _nghost-amt-c51="">
													<span class="trade-env-item" _ngcontent-amt-c51=""><!----><!----><!----><!----><!---->
														&nbsp;&nbsp;&nbsp;<img class="ng-star-inserted" alt="na-flag" src="https://assets.eldorado.gg/images/others/v5/na-flag.png" _ngcontent-amt-c51="">&nbsp;
														<span id="region4" _ngcontent-amt-c51="">NA</span></span>
												</eld-shared-trade-env-item>&nbsp;<!---->

													<span class="dot">•</span>&nbsp; <!---->
													<span id="server4" server="faerlina">Thalnos</span>&nbsp;<!---->
													<span class="dot">•</span>&nbsp; <!---->
													<span id="faction4" _ngcontent-ton-c51="">Horde</span>

													<div class="offer-description" _ngcontent-amt-c49="">
														<p class="offer-amount-col" _ngcontent-amt-c49="">
														<strong class="offer-price" _ngcontent-amt-c49="">$</strong><strong id="unitprice4" class="offer-price" _ngcontent-amt-c49="">0.38</strong><!---->
															<span class="offer-units ng-star-inserted" _ngcontent-amt-c49="">/ unit</span>
														</p>
													</div>
												</p>
										</p>
								</article>
				</li>
				<li class="mix eu check1 radio2 option3">
					<a onclick="updateData5();" href="/offer">
					<img src="{% static 'img/goldimg.png' %}" alt="Image 1">
					</a>
							<article>
								<p class="ng-tns-c50-50">
									<eld-shared-offer-item-label class="ng-tns-c54-31 ng-tns-c50-33" _nghost-amt-c50="" _ngcontent-amt-c54=""><!---->
										<div class="offer-label ng-tns-c50-33 ng-trigger ng-trigger-fadeIn ng-star-inserted" _ngcontent-amt-c50="">
											<p class="ng-tns-c50-33" _ngcontent-amt-c50=""><!----><!---->
												<eld-shared-trade-env-item class="ng-tns-c50-33 ng-star-inserted" _ngcontent-amt-c50="" _nghost-amt-c51="">
													<span class="trade-env-item" _ngcontent-amt-c51=""><!----><!----><!----><!----><!---->
														&nbsp;&nbsp;&nbsp;<img class="ng-star-inserted" alt="eu-flag" src="https://assets.eldorado.gg/images/others/v5/eu-flag.png" _ngcontent-amt-c51="">&nbsp;
														<span id="region5" _ngcontent-amt-c51="">EU</span></span>
												</eld-shared-trade-env-item>&nbsp;<!---->

													<span class="dot">•</span>&nbsp; <!---->
													<span id="server5" server="faerlina">Shazzrah</span>&nbsp;<!---->
													<span class="dot">•</span>&nbsp; <!---->
													<span id="faction5" _ngcontent-ton-c51="">Alliance</span>

													<div class="offer-description" _ngcontent-amt-c49="">
														<p class="offer-amount-col" _ngcontent-amt-c49="">
														<strong class="offer-price" _ngcontent-amt-c49="">$</strong><strong id="unitprice5" class="offer-price" _ngcontent-amt-c49="">0.57</strong><!---->
															<span class="offer-units ng-star-inserted" _ngcontent-amt-c49="">/ unit</span>
														</p>
													</div>
												</p>
										</p>
								</article>
				</li>
				<li class="mix eu check1 radio2 option3">
					<a onclick="updateData6();" href="/offer">
					<img src="{% static 'img/goldimg.png' %}" alt="Image 1">
					</a>
							<article>
								<p class="ng-tns-c50-50">
									<eld-shared-offer-item-label class="ng-tns-c54-31 ng-tns-c50-33" _nghost-amt-c50="" _ngcontent-amt-c54=""><!---->
										<div class="offer-label ng-tns-c50-33 ng-trigger ng-trigger-fadeIn ng-star-inserted" _ngcontent-amt-c50="">
											<p class="ng-tns-c50-33" _ngcontent-amt-c50=""><!----><!---->
												<eld-shared-trade-env-item class="ng-tns-c50-33 ng-star-inserted" _ngcontent-amt-c50="" _nghost-amt-c51="">
													<span class="trade-env-item" _ngcontent-amt-c51=""><!----><!----><!----><!----><!---->
														&nbsp;&nbsp;&nbsp;<img class="ng-star-inserted" alt="eu-flag" src="https://assets.eldorado.gg/images/others/v5/eu-flag.png" _ngcontent-amt-c51="">&nbsp;
														<span id="region6" _ngcontent-amt-c51="">EU</span></span>
												</eld-shared-trade-env-item>&nbsp;<!---->

													<span class="dot">•</span>&nbsp; <!---->
													<span id="server6" server="faerlina">Shazzrah</span>&nbsp;<!---->
													<span class="dot">•</span>&nbsp; <!---->
													<span id="faction6" _ngcontent-ton-c51="">Horde</span>

													<div class="offer-description" _ngcontent-amt-c49="">
														<p class="offer-amount-col" _ngcontent-amt-c49="">
														<strong class="offer-price" _ngcontent-amt-c49="">$</strong><strong id="unitprice6" class="offer-price" _ngcontent-amt-c49="">0.59</strong><!---->
															<span class="offer-units ng-star-inserted" _ngcontent-amt-c49="">/ unit</span>
														</p>
													</div>
												</p>
										</p>
								</article>
				</li>

				<li class="gap"></li>
				<li class="gap"></li>
				<li class="gap"></li>
			</ul>
			<div class="cd-fail-message">No results found</div>
		</div>
		</section> <!-- cd-gallery -->

		<div class="cd-filter">
			<form>
				<div class="cd-filter-block">
					<h4>Search</h4>

					<div class="cd-filter-content">
						<input type="search" placeholder="Try color-1...">
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Check boxes</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">Option 1</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">Option 2</label>
						</li>

						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">Option 3</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Select</h4>

					<div class="cd-filter-content">
						<div class="cd-select cd-filters">
							<select class="filter" name="selectThis" id="selectThis">
								<option value="">Choose an option</option>
								<option value=".option1">Option 1</option>
								<option value=".option2">Option 2</option>
								<option value=".option3">Option 3</option>
								<option value=".option4">Option 4</option>
							</select>
						</div> <!-- cd-select -->
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Radio buttons</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
							<label class="radio-label" for="radio1">All</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
							<label class="radio-label" for="radio2">Choice 2</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
							<label class="radio-label" for="radio3">Choice 3</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
			</form>

			<a href="#0" class="cd-close">Close</a>
		</div> <!-- cd-filter -->

		<a href="#0" class="cd-filter-trigger">Filters</a>
	</main> <!-- cd-main-content -->



<script>
	function updateData1(){

		var unitprice = document.getElementById('unitprice1').innerHTML;
		var region = document.getElementById('region1').innerHTML;
		var server = document.getElementById('server1').innerHTML;
		var faction = document.getElementById('faction1').innerHTML;
		localStorage.setItem("localunitprice", unitprice);
		localStorage.setItem("localregion", region);
		localStorage.setItem("localserver", server);
		localStorage.setItem("localfaction", faction);
	}

	function updateData2(){

		var unitprice = document.getElementById('unitprice2').innerHTML;
		var region = document.getElementById('region2').innerHTML;
		var server = document.getElementById('server2').innerHTML;
		var faction = document.getElementById('faction2').innerHTML;
		localStorage.setItem("localunitprice", unitprice);
		localStorage.setItem("localregion", region);
		localStorage.setItem("localserver", server);
		localStorage.setItem("localfaction", faction);
	}


	function updateData3(){

		var unitprice = document.getElementById('unitprice3').innerHTML;
		var region = document.getElementById('region3').innerHTML;
		var server = document.getElementById('server3').innerHTML;
		var faction = document.getElementById('faction3').innerHTML;
		localStorage.setItem("localunitprice", unitprice);
		localStorage.setItem("localregion", region);
		localStorage.setItem("localserver", server);
		localStorage.setItem("localfaction", faction);
	}

	function updateData4(){

		var unitprice = document.getElementById('unitprice4').innerHTML;
		var region = document.getElementById('region4').innerHTML;
		var server = document.getElementById('server4').innerHTML;
		var faction = document.getElementById('faction4').innerHTML;
		localStorage.setItem("localunitprice", unitprice);
		localStorage.setItem("localregion", region);
		localStorage.setItem("localserver", server);
		localStorage.setItem("localfaction", faction);
	}

	function updateData5(){

		var unitprice = document.getElementById('unitprice5').innerHTML;
		var region = document.getElementById('region5').innerHTML;
		var server = document.getElementById('server5').innerHTML;
		var faction = document.getElementById('faction5').innerHTML;
		localStorage.setItem("localunitprice", unitprice);
		localStorage.setItem("localregion", region);
		localStorage.setItem("localserver", server);
		localStorage.setItem("localfaction", faction);
	}

	function updateData6(){

		var unitprice = document.getElementById('unitprice6').innerHTML;
		var region = document.getElementById('region6').innerHTML;
		var server = document.getElementById('server6').innerHTML;
		var faction = document.getElementById('faction6').innerHTML;
		localStorage.setItem("localunitprice", unitprice);
		localStorage.setItem("localregion", region);
		localStorage.setItem("localserver", server);
		localStorage.setItem("localfaction", faction);
	}
</script>




<script src="{% static 'filter/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'filter/js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'filter/js/main.js' %}"></script> <!-- Resource jQuery -->
</body>

<br><br>
</html>
