{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'filter/css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'filter/css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'dorado/dorado.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">



	<title>iCoffee - WoW Classic</title>
</head>
<body>

<section>
	<eld-navbar class="header ng-tns-c1-1" _ngcontent-amt-c0="" _nghost-amt-c1="">
		<header class="ng-tns-c1-1" _ngcontent-amt-c1="">
			<div class="app-header ng-trigger ng-trigger-fadeIn" style="animation-play-state: running;" _ngcontent-amt-c1="">
				<eld-refresh-page-message class="ng-tns-c1-1 ng-tns-c6-4" _ngcontent-amt-c1="" _nghost-amt-c6=""><!----></eld-refresh-page-message>

				<nav class="ng-tns-c1-1" _ngcontent-amt-c1="">
					<div class="left-nav-side" _ngcontent-amt-c1="">
						<eld-site-logo class="ng-tns-c1-1" _ngcontent-amt-c1="" _nghost-amt-c7="">
							<a class="brand-logo" href="/" _ngcontent-amt-c7="">
								<div class="brand-icon" _ngcontent-amt-c7=""><!---->
									<eld-shared-svg-logo-with-text class="ng-star-inserted" _ngcontent-amt-c7="" _nghost-amt-c20="">
								</div>
							</a>
						</eld-site-logo>
						<eld-categories-menu class="ng-tns-c1-1 ng-tns-c8-5" _ngcontent-amt-c1="" _nghost-amt-c8="">
							<div class="categories-menu" _ngcontent-amt-c8=""><!----><!----><!---->
								<div class="category-item ng-tns-c8-5 ng-star-inserted" _ngcontent-amt-c8="">
									<eld-categories-menu-dropdown class="ng-tns-c8-5" _ngcontent-amt-c8="" _nghost-amt-c23="">
										<div class="category-menu-dropdown" _ngcontent-amt-c23=""><!---->
											<div class="category-menu-dropdown-item ng-star-inserted" _ngcontent-amt-c23="">
												<a href="/buy-rocket-league-items/i/1-0" _ngcontent-amt-c23="">
													<eld-shared-image _ngcontent-amt-c23="" _nghost-amt-c18=""><!----><!---->
														<img class="app-image ng-star-inserted loaded" alt="Rocket League Items" src="https://assets.eldorado.gg/images/icons/v1/Rocket-League.png" _ngcontent-amt-c18="">
													</eld-shared-image><span _ngcontent-amt-c23="">Rocket League Items</span>
												</a>
											</div>
										</div>
									</eld-categories-menu-dropdown>
								</div><!---->
							</eld-categories-menu>
						</div>
						<div class="navbar-content" _ngcontent-amt-c1=""><!---->
							<div class="button-wrapper ng-tns-c1-1 ng-star-inserted" _ngcontent-amt-c1="">
								<eld-shared-button class="ng-tns-c1-1" type="button" _ngcontent-amt-c1="" text="COMMON.SELL" _nghost-amt-c9="">
									<button class="button waves-effect waves-light hyphenate button-gold" type="button" _ngcontent-amt-c9="">
										<span class="button-text" _ngcontent-amt-c9=""><!----><!----> Sell </span>
									</button>
								</eld-shared-button>
							</div>
							<eld-navbar-links class="ng-tns-c1-1" _ngcontent-amt-c1="" _nghost-amt-c10="">
								<div class="navbar-links" _ngcontent-amt-c10=""><!----><!---->
									<a class="navbar-link ng-star-inserted" href="/games" _ngcontent-amt-c10="" routerlinkactive="router-link-active" routerlink="/games"> Games </a><!----><!----><!----><!----><!----><!---->
									<a class="navbar-link ng-star-inserted" _ngcontent-amt-c10="" routerlinkactive="router-link-active"> Sign up </a>
									<a class="navbar-link ng-star-inserted" _ngcontent-amt-c10="" routerlinkactive="router-link-active">
										Log in
									</a><!---->
								</div>
							</eld-navbar-links><!----><!----><!----><!----><!----><!---->
						</div>
					</nav>
				</div>
			</header>
		</eld-navbar>
		<br>
		<img src="{% static 'assets/img/wow/ragbanner1.png' %}" alt="" class="img-fluid">

</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="container">
					<a href=/gold>
						<img src="{% static 'img/goldimg.png' %}" alt="level" style="width:250px;height:250px;">
					</a>
				</div>
			</div>
			<div class="col-4">
				<div class="container">
					<a  href="/characters">
						<img src="{% static '/img/characterimg.png' %}" alt="level" style="width:250px;height:250px;">
					</a>
				</div>
			</div>
			<div class="col-4" href="/leveling">
				<div class="container">
					<a href="/leveling">
						<img src="{% static 'img/levelingimg.png' %}" alt="level" style="width:250px;height:250px;">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section bg-light" id="credentials">
	<!-- Content -->
	<div class="container">
		<div class="row justify-content-center mb-4">

		</div>
		<!-- / .row -->

		<div class="row">
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4 ">
				<div class="service-block d-flex">
					<div class="service-icon ">
						<i class="fa fa-shield-alt"></i>
					</div>
					<div class="service-content ">
						<h4><span>100%</span> Trading protection</h4>
						<p>Guaranteed trading protection for both buyers and sellers. iCoffee guarantees fair resolutions of any disputes</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fa fa-clock"></i>
					</div>
					<div class="service-content">
						<h4>Acurate delivery <span>Time</span></h4>
						<p>Average delivery times of previous orders are always visible, helping buyers know when their items will arrive.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fa fa-headset"></i>
					</div>
					<div class="service-content">
						<h4>24 Hours <span>Dedicated Support </span></h4>
						<p>iCoffee support works around the clock. Contact us at any time!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fa fa-certificate"></i>
					</div>
					<div class="service-content">
						<h4>CERTIFICATE <span>pay options</span></h4>
						<p></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fab fa-paypal"></i>
					</div>
					<div class="service-content">
						<h4><span>With</span> Paypal</h4>
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fab fa-cc-visa"></i>
						<i class="fab fa-cc-mastercard"></i>
					</div>
					<div class="service-content">
						<h4>VISA<span> - </span>mastercard</h4>
						<p></p>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

<script src="{% static 'filter/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'filter/js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'filter/js/main.js' %}"></script> <!-- Resource jQuery -->
</body>

</html>
