{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Coral - Onepage portfolio Template">
    <meta name="author" content="esrat">

    <!-- Fontawseom Icon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <title>iCoffee - Marketing Digital</title>
    <link rel="shortcut icon" href="{% static 'assets/img/cafe/cof.ico' %}">
</head>

<body id="page-top">

    <!-- NAVBAR
    ================================================= -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-togglable  fixed-top" id="mainNav">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand js-scroll-trigger " href="#page-top">
                <h2>iCoffee</h2>
            </a>

            <!-- Toggler
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon-bar">
                    <i class="fa fa-bars"></i>
                </span>
            </button>-->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#service">
                            Sevices
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#credentials">
                            Credentials
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">
                            Boosting
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="#contact">
                            Work with us
                        </a>
                    </li>
                </ul>
            </div>
            <a class="nav-item nav-link js-scroll-trigger" href="#page-top">
                    <i class="fa fa-angle-double-up"></i>
            </a>
            <!-- / .navbar-collapse -->
        </div>
        <!-- / .container -->
    </nav>

    <!-- HERO
    ================================================== -->
	<section class="section section-top section-full">

        <!-- Cover -->
        <div class="bg-cover" style="background-image: url({% static 'assets/img/banner/mainbanner3.png' %});"></div>
		<div class="container">
        <!-- Overlay -->
        <div class="bg-overlay">
			<div class="banner-content">


					</div>
				</div>
        <!-- Content -->
		</div>
        <!-- / .container -->
    </section>



    <!-- GOLD
    ================================================== -->
    <section class="section" id="service">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-7 text-center">

                    <!-- Heading -->
                    <h2 class="lg-title mb-2">
                        Our services
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5">
                       Our Accounts for WoW Classic are very secure, they were created with the purpose of being sold.
                    </p>
                </div>
        </div>
		</div>

<div class="container">
    <div class="row justify-content-center">
        <article>
	        <div class="col-lg-8 col-md-6 col-sm-6 mb-5">
	            <div class="card" style="width:200px">
	            <div class="row justify-content-center">
	                <div class="container">
						<br>
						  <div class="container">
	                      <img src="{% static 'assets/img/wow/goldtoken.png' %}" alt="20gold">
						  </div>

	                </div>
	            </div>
					<div class="card-body">
						 <!-- <center><h4 class="card-title">100 Gold</h4></center>
						 <p class="card-text"></p>-->
						 <center><a href="wow_classic_gold" class="btn btn-info center nav-link js-scroll-trigger">SEE MORE</a></center>
					</div>
	            </div>
			</div>
        </article>
		<article>
			<div class="col-lg-8 col-md-6 col-sm-6 mb-5">
				<div class="card" style="width:200px">
				<div class="row justify-content-center">
					<div class="container">
						<br>
						  <div class="container">
						  <img src="{% static 'assets/img/wow/goldtoken.png' %}" alt="20gold">
						  </div>

					</div>
				</div>
					<div class="card-body">
						 <!-- <center><h4 class="card-title">100 Gold</h4></center>
						 <p class="card-text"></p>-->
						 <center><a href="/buy-items" class="btn btn-info center nav-link js-scroll-trigger">SEE MORE</a></center>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="col-lg-8 col-md-6 col-sm-6 mb-5">
				<div class="card" style="width:200px">
				<div class="row justify-content-center">
					<div class="container">
						<br>
						  <div class="container">
						  <img src="{% static 'assets/img/wow/levelling.png' %}" alt="level">
						  </div>

					</div>
				</div>
					<div class="card-body">
						 <!-- <center><h4 class="card-title">100 Gold</h4></center>
						 <p class="card-text"></p>-->
						 <center><a href="/60-boost" class="btn btn-info center nav-link js-scroll-trigger">SEE MORE</a></center>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="col-lg-8 col-md-6 col-sm-6 mb-5">
				<div class="card" style="width:200px">
				<div class="row justify-content-center">
					<div class="container">
						<br>
						  <div class="container">
						  <img src="{% static 'assets/img/wow/goldtoken.png' %}" alt="20gold">
						  </div>

					</div>
				</div>
					<div class="card-body">
						 <!-- <center><h4 class="card-title">100 Gold</h4></center>
						 <p class="card-text"></p>-->
						 <center><a href="/characters" class="btn btn-info center nav-link js-scroll-trigger">SEE MORE</a></center>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
</section>

<!-- SERVICES
================================================== -->
<section class="section bg-light" id="credentials">
	<!-- Content -->
	<div class="container">
		<div class="row justify-content-center mb-4">
			<div class="col-md-8 col-lg-7 text-center">

				<!-- Heading -->
				<h2 class="lg-title mb-2">
					Our Credentials
				</h2>

				<!-- Subheading -->
				<p class="mb-5">
					All the best offers on iCoffee are suggested by our automated system.
				</p>

			</div>
		</div>
		<!-- / .row -->


		<div class="row">
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4 ">
				<div class="service-block d-flex">
					<div class="service-icon ">
						<i class="fa fa-shield-alt"></i>
					</div>
					<div class="service-content ">
						<h4><span>100%</span> Trading protection</h4>
						<p>Guaranteed trading protection for both buyers and sellers. iCoffee guarantees fair resolutions of any disputes</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fa fa-clock"></i>
					</div>
					<div class="service-content">
						<h4>Acurate delivery <span>Time</span></h4>
						<p>Average delivery times of previous orders are always visible, helping buyers know when their items will arrive.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fa fa-headset"></i>
					</div>
					<div class="service-content">
						<h4>24 Hours <span>Dedicated Support </span></h4>
						<p>iCoffee support works around the clock. Contact us at any time!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fa fa-certificate"></i>
					</div>
					<div class="service-content">
						<h4>CERTIFICATE <span>pay options</span></h4>
						<p></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fab fa-paypal"></i>
					</div>
					<div class="service-content">
						<h4><span>With</span> Paypal</h4>
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 mb-4">
				<div class="service-block d-flex">
					<div class="service-icon">
						<i class="fab fa-cc-visa"></i>
						<i class="fab fa-cc-mastercard"></i>
					</div>
					<div class="service-content">
						<h4>VISA<span> - </span>mastercard</h4>
						<p></p>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

    <!-- CHARACTERS
    ================================================== -->
    <section class="section bg-light" id="portfolio">

    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 col-lg-7 text-center">

                <!-- Heading -->
                <h2 class="lg-title mb-2">
                    Buy characters
                </h2>

                <!-- Subheading -->
                <p class="mb-5">
                   Our Accounts for WoW Classic are very secure, they were created with the purpose of being sold.
                </p>
            </div>
    </div>

    <div class="container">
    <div class="row justify-content-center">
    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_undead_male.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Undead Mage 60 Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: pre raid bis<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>


    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_troll_female.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 60 Troll Mage Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: pre raid bis<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>


    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_undead_female.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 60 Undead Mage Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: fresh 60<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>

    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_troll_female.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 60 Troll Mage Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: pre raid bis<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>

    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_troll_female.png">
                  <img src="http://gold4vanilla.com/img/icon-priest.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 27 Troll Priest Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: none<br>
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>
    </div>

    </section>


    <!-- Testimonial
    ================================================== -->
    <section class="section bg-dark" id="about">


    </section>


    <!-- Contact
    ================================================== -->

    <section class="section" id="contact">

    <div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 col-lg-8 text-center">

            <!-- Heading -->
            <h2 class="lg-title mb-2">
                Sell your gold with us.
            </h2>

			<div class="container">
            <br>
            <h4>1. How much do you pay for 1000g?</h4>

            Price depends on various conditions like your realm, demand and our supply.
            <br>To check the price you can contact our supply manager via skype.


            <br>
            <br>
            <h4>2. How does the trading process work?</h4>

            Contact our supply manager via Skype.
            <br>
            If we need your gold and the price is acceptable for you, our supply manager will tell you whom to trade your gold to and the trading method to use.
            <br>
            When the trade is done, our manager will send you the money.

            <BR>
            <br>
            <h4>3. Which payment systems do you use?</h4>

            Our primary payment system is PayPal. But sometimes we can pay via Skrill or Webmoney.

            <br>
            <br>
            <h4>4. Can I sell my gold instantly without waiting for demand?</h4>

            No, you have to wait for demand to be able to sell gold to us.
			</div>
        </div>
    </div>
    <!-- / .row -->
	</div>

    </section>




    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-contact.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.js' %}"></script>

</body>

</html>
