{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Coral - Onepage portfolio Template">
    <meta name="author" content="esrat">

    <!-- Fontawseom Icon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <title>iCoffee - Marketing Digital</title>
    <link rel="shortcut icon" href="{% static 'assets/img/cafe/cof.ico' %}">
</head>

<body id="page-top">

    <!-- NAVBAR
    ================================================= -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-togglable  fixed-top " id="mainNav">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <h2>iCoffee</h2>
            </a>

            <!-- Toggler
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon-bar">
                    <i class="fa fa-bars"></i>
                </span>
            </button>-->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#feature">
                            Buy Gold
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">
                            Characters
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">
                            Boosting
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="#contact">
                            Sell Gold
                        </a>
                    </li>
                </ul>
            </div>
            <a class="nav-item nav-link js-scroll-trigger" href="#page-top">
                    <i class="fa fa-angle-double-up"></i>
            </a>
            <!-- / .navbar-collapse -->
        </div>
        <!-- / .container -->
    </nav>

    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">

        <!-- Cover -->
        <div class="bg-cover" style="background-image: url({% static 'assets/img/portfolio/illi.jpg' %});"></div>

        <!-- Overlay -->
        <div class="bg-overlay">
			<div class="banner-content">
				<h1 class="text-white text-center mb-4 display-4 font-weight-bold">
						<font color="green">iCoffee Classic</font>
				</h1>
			</div>
		</div>
        <!-- Content -->

        <!-- / .container -->
    </section>



    <!-- GOLD
    ================================================== -->
    <section class="section" id="feature">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-7 text-center">

                    <!-- Heading -->
                    <h2 class="lg-title mb-2">
                        Buy Gold
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5">
                       Our Accounts for WoW Classic are very secure, they were created with the purpose of being sold.
                    </p>
                </div>
        </div>
        <div class="container">
        <div class="row justify-content-center">
        <article>
        <div class="col-lg-8 col-md-6 col-sm-6 mb-5">
            <div class="card" style="width:200px">
            <div class="row justify-content-center">
                <div class="container">
                <center>
                      <br>
                      <img src="https://www.5mmo.com/upload/201909021351096370.jpg" alt="20 Gold">
                </center>
                </div>
                </div>
                <div class="card-body">
                     <center><h4 class="card-title">10 Gold -> $7.99</h4></center>
                     <p class="card-text">

                     </p>
					 <center><a href="#pay" class="btn btn-info center nav-link js-scroll-trigger">USD $37.99</a></center>
                </div>
            </div>
        </div>
        </article>
        <article>
        <div class="col-lg-8 col-md-6 col-sm-6 mb-5">
            <div class="card" style="width:200px">
            <div class="row justify-content-center">
                <div class="container">
                <center>
                      <br>
                      <img src="https://www.5mmo.com/upload/201909021351096370.jpg" alt="50 Gold">
                </center>
                </div>
                </div>
                <div class="card-body">
                     <center><h4 class="card-title">50 Gold</h4></center>
                     <p class="card-text">
                     </p>
                     <center><a href="#pay" class="btn btn-info center nav-link js-scroll-trigger">USD $37.99</a></center>
                </div>
            </div>
        </div>
        </article>
		<article>
        <div class="col-lg-8 col-md-6 col-sm-6 mb-5">
            <div class="card" style="width:200px">
            <div class="row justify-content-center">
                <div class="container">
                <center>
                      <br>
                      <img src="https://www.5mmo.com/upload/201909021351096370.jpg" alt="100 Gold">
                </center>
                </div>
                </div>
                <div class="card-body">
                     <center><h4 class="card-title">100 Gold</h4></center>
                     <p class="card-text">
                     </p>
                     <center><a href="#pay" class="btn btn-info center nav-link js-scroll-trigger">USD $69.99</a></center>
                </div>
            </div>
        </div>
        </article>
		<article id="pay">
		<div class="col-lg-8 col-md-6 col-sm-6 mb-5">
			<div class="card" style="width:200px">
			<div class="row justify-content-center">
				<div class="container">
				<center>
					  <br>
					  <img src="https://www.5mmo.com/upload/201909021351096370.jpg" alt="1000 Gold">
				</center>
				</div>
				</div>
				<div class="card-body">
					 <center><h4 class="card-title">1000 Gold</h4></center>
					 <p class="card-text">
					 </p>
					 <center><a href="#pay" class="btn btn-info center nav-link js-scroll-trigger">USD $639.99</a></center>
				</div>
			</div>
		</div>
		</article>

		<div class="container">
		<div class="row justify-content-center">
			<div class="form-group row" style="width:400px">
				<select class="form-control" id="select_server">
				<option value="Faerlina-US" server_name="Faerlina-US" selected="">Faerlina-US</option>
				<option value="Faerlina-US" server_name="Faerlina-US" selected="">Faerlina-US</option>
				<option value="Faerlina-US" server_name="Faerlina-US" selected="">Faerlina-US</option>
				<option value="Faerlina-US" server_name="Faerlina-US" selected="">Faerlina-US</option>
				<option value="Faerlina-US" server_name="Faerlina-US" selected="">Faerlina-US</option>
				<option value="Faerlina-US" server_name="Faerlina-US" selected="">Faerlina-US</option>
			</select>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group row" style="width:400px">
				<select class="form-control" id="select_server">
				<option value="Alliance" server_name="Alliance" selected="">Alliance</option>
				<option value="Horde" server_name="Horde" selected="">Horde</option>
				</select>
			</div>
		</div>
		</div>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="width:400px">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="KG28J75YZ7YTL">
			<table>
			<tr><td><input type="hidden" name="on0" value="Gold" ></td></tr><tr><td>
			<select name="os0" style="width:400px">
				<option value="10 gold">10 Gold -> $7,99 USD</option>
				<option value="20 gold">20 Gold -> $14,99 USD</option>
				<option value="50 gold">50 gold -> $37,99 USD</option>
				<option value="100 gold">100 gold -> $69,99 USD</option>
				<option value="500 gold">500 gold -> $339,99 USD</option>
				<option value="1000 gold">1000 gold -> $639,99 USD</option>
			</select> </td></tr>
			</table>
			<br>
			<input type="hidden" name="currency_code" value="USD">
			<div id="paypal-button-container" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			</div>
			<!-- Include the PayPal JavaScript SDK -->
			<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

			<script>
				// Render the PayPal button into #paypal-button-container
				paypal.Buttons({

					style: {
						color:  'blue',
						shape:  'pill',
						label:  'pay',
						height: 40
					}

				}).render('#paypal-button-container');
			</script>
		</form>
		<div id="paypal-button-container"></div>


        </div>
        </div>

    </section>

    <!-- CHARACTERS
    ================================================== -->
    <section class="section bg-light" id="portfolio">

    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 col-lg-7 text-center">

                <!-- Heading -->
                <h2 class="lg-title mb-2">
                    Buy characters
                </h2>

                <!-- Subheading -->
                <p class="mb-5">
                   Our Accounts for WoW Classic are very secure, they were created with the purpose of being sold.
                </p>
            </div>
    </div>

    <div class="container">
    <div class="row justify-content-center">
    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_undead_male.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Undead Mage 60 Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: pre raid bis<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>


    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_troll_female.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 60 Troll Mage Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: pre raid bis<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>


    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_undead_female.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 60 Undead Mage Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: fresh 60<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>

    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_troll_female.png">
                  <img src="http://gold4vanilla.com/img/icon-mage.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 60 Troll Mage Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: pre raid bis<br>
                     -Tailoring 300, Skining 300, First Aid 300
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>

    <article>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <div class="card" style="width:400px">
        <div class="row justify-content-center">
            <div class="container">
            <center>
                  <br>
                  <img src="http://gold4vanilla.com/img/race_troll_female.png">
                  <img src="http://gold4vanilla.com/img/icon-priest.png">
            </center>
            </div>
            </div>
            <div class="card-body">
                 <h4 class="card-title">Level 27 Troll Priest Faerlina-US PvP</h4>
                 <p class="card-text">
                     -Gear: none<br>
                 </p>
                 <center><a href="#" class="btn btn-info center">See Profile</a></center>
            </div>
        </div>
    </div>
    </article>
    </div>

    </section>


    <!-- Testimonial
    ================================================== -->
    <section class="section bg-dark" id="about">


    </section>


    <!-- Contact
    ================================================== -->

    <section class="section" id="contact">

    <div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 col-lg-8 text-center">

            <!-- Heading -->
            <h2 class="lg-title mb-2">
                Sell your gold with us.
            </h2>

			<div class="container">
            <br>
            <h4>1. How much do you pay for 1000g?</h4>

            Price depends on various conditions like your realm, demand and our supply.
            <br>To check the price you can contact our supply manager via skype.


            <br>
            <br>
            <h4>2. How does the trading process work?</h4>

            Contact our supply manager via Skype.
            <br>
            If we need your gold and the price is acceptable for you, our supply manager will tell you whom to trade your gold to and the trading method to use.
            <br>
            When the trade is done, our manager will send you the money.

            <BR>
            <br>
            <h4>3. Which payment systems do you use?</h4>

            Our primary payment system is PayPal. But sometimes we can pay via Skrill or Webmoney.

            <br>
            <br>
            <h4>4. Can I sell my gold instantly without waiting for demand?</h4>

            No, you have to wait for demand to be able to sell gold to us.
			</div>
        </div>
    </div>
    <!-- / .row -->
	</div>

    </section>




    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-contact.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.js' %}"></script>

</body>

</html>
