/*----------------------
 SERVICE
-----------------------*/
.service-icon{
    font-size: 30px;
    margin-right: 25px;
    margin-top: 10px;
}
.service-content{
    margin-top: 20px;
}
.service-content h4 {
    margin-bottom: 10px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.service-content h4 span{
    font-weight: 400;
}


* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body {
	background: #fafafa;
}
body {
	height: 100%;
	font-family: "Maison Neue",sans-serif;
	font-weight: 400;
	color: #4a4a5d;
	background: #fafafa;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
html {
	height: 100%;
	box-sizing: border-box;
}
.buorg {
	position: absolute;
	position: fixed;
	z-index: 111111;
	width: 100%;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #A29330;
	text-align: center;
	color: #000;
	background-color: #fff8ea;
	font: 18px Calibri, Helvetica, sans-serif;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	animation: buorgfly 1s ease-out 0s;
}
.buorg {
	text-align: left;
	width: 300px;
	top: 50px;
	right: 50px;
	left: auto;
	border: 1px solid #A29330;
}
body .buorg {
	background-color: #ffc001;
}
.preload-logo {
	height: 60px;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	background: #fff;
	border-bottom: 1px solid #edf1f4;
	box-shadow: 0px 3px 4px rgba(107,107,126,0.15);
}
.preload-logo {
	display: none;
}
iframe#_hjRemoteVarsFrame {
	display: none !important;
	width: 1px !important;
	height: 1px !important;
	opacity: 0 !important;
	pointer-events: none !important;
}
.header {
	margin-bottom: 50px;
}
[_ngcontent-amt-c0].header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 9998;
}
[_ngcontent-amt-c0].page-container {
	z-index: 1;
	display: block;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	background-color: #fafafa;
	color: #4a4a5d;
	-webkit-transition: .2s;
	transition: .2s;
}
[_ngcontent-amt-c5].toast-top-right {
	top: 20px;
	right: 10px;
	max-width: 320px;
}
[_ngcontent-amt-c5]#toast-container {
	width: 100%;
	position: fixed;
	margin-top: 70px;
	z-index: 9999;
	pointer-events: none;
	text-align: center;
}
[_ngcontent-amt-c4].app-spinner {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: all .3s ease;
	z-index: 9998;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise, [_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4] {
	position: relative;
	box-sizing: border-box;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise {
	display: block;
	font-size: 0px;
	color: #fff;
	width: 32px;
	height: 32px;
}
[_ngcontent-amt-c4].app-circle {
	color: #ffb100;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise.la-2x {
	width: 64px;
	height: 64px;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4] {
	display: inline-block;
	float: none;
	background-color: currentColor;
	border: 0 solid currentColor;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	margin-left: -4px;
	border-radius: 100%;
	-webkit-animation: 1s ease-in-out infinite ball-spin-clockwise;
	animation: 1s ease-in-out infinite ball-spin-clockwise;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(1) {
	top: 5%;
	left: 50%;
	-webkit-animation-delay: -875ms;
	animation-delay: -875ms;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(2) {
	top: 18.18%;
	left: 81.81%;
	-webkit-animation-delay: -.75s;
	animation-delay: -0.75s;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(3) {
	top: 50%;
	left: 95%;
	-webkit-animation-delay: -625ms;
	animation-delay: -625ms;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(4) {
	top: 81.81%;
	left: 81.81%;
	-webkit-animation-delay: -.5s;
	animation-delay: -0.5s;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(5) {
	top: 94.99%;
	left: 50%;
	-webkit-animation-delay: -375ms;
	animation-delay: -375ms;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(6) {
	top: 81.81%;
	left: 18.18%;
	-webkit-animation-delay: -.25s;
	animation-delay: -0.25s;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(7) {
	top: 49.99%;
	left: 5%;
	-webkit-animation-delay: -125ms;
	animation-delay: -125ms;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise > div[_ngcontent-amt-c4]:nth-child(8) {
	top: 18.17%;
	left: 18.18%;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
[_ngcontent-amt-c4].la-ball-spin-clockwise.la-2x > div[_ngcontent-amt-c4] {
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
}
[_ngcontent-amt-c0].main-content {
	position: relative;
	margin-top: 60px;
	margin-left: 70px;
	z-index: 1;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 100%;
	min-height: calc(100vh - 60px);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: .2s;
	transition: .2s;
}
[_ngcontent-amt-c0].main-content.sidenav-not-visible {
	margin-left: 0px;
}
[_ngcontent-amt-c0].router-outlet-wrapper {
	-webkit-box-flex: 1;
	flex: 1 0 auto;
}
footer[_ngcontent-amt-c3] {
	width: 100%;
	padding: 20px;
	background: #2d2e3f;
	color: #b4b4bc;
}
section {
	padding: 50px 0;
}
.base-container {
	width: 1140px;
	max-width: 100%;
	padding: 0 15px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
[_ngcontent-amt-c3].footer-menu {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
hr.separator {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e9e9ee !important;
}
hr[_ngcontent-amt-c3].separator {
	border-top: 1px solid rgba(107, 107, 126, .5) !important;
}
[_ngcontent-amt-c3].company-info {
	padding-top: 20px;
	text-align: center;
	color: #b4b4bc;
}
[_ngcontent-amt-c3].copyright {
	padding-top: 8px;
	text-align: center;
	color: #b4b4bc;
}
p {
	line-height: 21px;
	font-size: 14px;
}
a {
	font-size: 14px;
	color: #2b8ced;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: all .2s ease;
}
[_ngcontent-amt-c3].footer-accordion-container {
	margin-top: 10px;
	width: 64%;
}
[_ngcontent-amt-c3].footer-icons-container {
	margin-top: 10px;
	width: 20%;
}
[_ngcontent-amt-c3].footer-icons-section {
	margin-bottom: 10px;
}
h5 {
	line-height: normal;
	font-size: 14px;
}
h5[_ngcontent-amt-c3] {
	margin-bottom: 15px;
	color: #e9e9ee;
}
.row-sm {
	margin-left: -10px;
	margin-right: -10px;
}
[_ngcontent-amt-c3].payment-method-image {
	display: inline-block;
	padding: 0 5px;
	margin-bottom: 5px;
}
[_ngcontent-amt-c3]:first-child.payment-method-image {
	padding-left: 10px;
}
img[_ngcontent-amt-c18] {
	max-width: 100%;
}
[_ngcontent-amt-c18].app-image {
	opacity: 0;
	-webkit-transition: .3s;
	transition: all .3s ease;
	-webkit-transform: scale(1);
	transform: scale(1);
}
[_ngcontent-amt-c18].app-image.loaded {
	opacity: 1;
}
.col-sm {
	padding: 0 10px;
}
[_ngcontent-amt-c3].social-icons a[_ngcontent-amt-c3] {
	margin-bottom: 10px;
	display: inline-block;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
[_ngcontent-amt-c14].footer-accordion {
	padding-bottom: 20px;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.col {
	padding: 0 15px;
}
h5[_ngcontent-amt-c14] {
	margin-bottom: 25px;
	color: #e9e9ee;
}
[_ngcontent-amt-c14].accordion-items {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
[_ngcontent-amt-c14].accordion-items a[_ngcontent-amt-c14] {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 21px;
	color: #b4b4bc;
	-webkit-transition: .2s;
	transition: all .2s ease;
}
.material-icons {
	font-family: "Material Icons";
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: "liga";
	font-feature-settings: "liga" 1;
}
[_ngcontent-amt-c14].arrow-down, [_ngcontent-amt-c14].arrow-up {
	display: none;
	-webkit-transition: .2s;
	transition: all .2s ease;
}
[_nghost-amt-c52] {
	display: block;
	padding-bottom: 150px;
}
[_ngcontent-amt-c52].game-offer-page {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
	width: 100%;
	min-height: 490px;
}
[_ngcontent-amt-c52].game-offer-section {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-wrap: wrap;
	-webkit-box-align: start;
	align-items: flex-start;
}
[_ngcontent-amt-c52].other-sellers-section {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 60px;
}
h4 {
	line-height: normal;
	font-size: 24px;
	color: #4a4a5d;
}
[_ngcontent-amt-c52].other-sellers-section eld-other-sellers-for-offer[_ngcontent-amt-c52] {
	margin-top: 30px;
	width: 100%;
}
[_ngcontent-amt-c59].offer-seller-card {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	cursor: pointer;
	border: 1px solid #e9e9ee;
	margin-bottom: 10px;
	padding: 15px 30px;
	background-color: #fff;
}
[_ngcontent-amt-c59]:first-child.offer-seller-card {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
[_ngcontent-amt-c62].tooltip {
	position: absolute;
	z-index: 9997;
	display: block;
	opacity: 0;
}
[_ngcontent-amt-c62].tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}
[_ngcontent-amt-c62].tooltip-arrow {
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-style: solid;
}
[_ngcontent-amt-c62].tooltip.top [_ngcontent-amt-c62].tooltip-arrow {
	bottom: 0px;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #2d2e3f;
}
.hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
[_ngcontent-amt-c62].tooltip-inner {
	max-width: 200px;
	padding: 10px 10px 7px;
	font-size: 12px !important;
	line-height: 14px !important;
	color: #fff;
	background-color: #2d2e3f;
	border-radius: 3px;
}
eld-shared-user-short-info[_ngcontent-amt-c59] {
	flex-basis: 27%;
}
[_ngcontent-amt-c59].detail {
	display: -webkit-box;
	display: flex;
	flex-basis: 16%;
	margin-top: 5px;
}
[_ngcontent-amt-c59].pricing {
	flex-basis: 25%;
}
[_ngcontent-amt-c59].pricing {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: end;
	align-items: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
[_ngcontent-amt-c59].price-details {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
[_ngcontent-amt-c59].unit-price {
	color: #36af47;
	margin-bottom: 3px;
}
[_ngcontent-amt-c59].price-details [_ngcontent-amt-c59].unit-system {
	font-size: 14px;
	color: #6b6b7e;
	text-transform: capitalize;
}
[_ngcontent-amt-c59].detail > div[_ngcontent-amt-c59] {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
[_ngcontent-amt-c59].detail [_ngcontent-amt-c59].label {
	font-size: 12px;
	color: #b4b4bc;
	margin-bottom: 7px;
}
[_ngcontent-amt-c59].detail [_ngcontent-amt-c59].value {
	font-size: 14px;
	color: #4a4a5d;
}
.small-chip {
	font-size: 12px;
	line-height: 12px;
	color: #4a4a5d;
	background-color: rgba(180,180,188,.2);
	padding: 5px 5px 3px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 3px;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	cursor: default;
	-webkit-transition: .2s;
	transition: all .2s ease;
}
[_ngcontent-amt-c59].delivery-avg {
	color: #36af47;
}
[_ngcontent-amt-c59].is-empty {
	color: #4a4a5d;
}
[_ngcontent-amt-c60].offer-seller-details {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
	height: 50px;
}
[_ngcontent-amt-c60].offer-seller-details > eld-shared-profile-picture[_ngcontent-amt-c60] {
	margin-right: 20px;
}
[_ngcontent-amt-c60].offer-seller-info {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	color: #2d2e3f;
	font-weight: 400;
	font-family: "Maison Neue",sans-serif;
	font-size: 14px;
}
[_ngcontent-amt-c60].offer-seller-username {
	display: -webkit-box;
	display: flex;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 18px;
}
[_ngcontent-amt-c60].offer-seller-ratings {
	display: -webkit-box;
	display: flex;
}
[_ngcontent-amt-c60].offer-seller-username > a[_ngcontent-amt-c60] {
	text-decoration: none;
	font-weight: 700;
	color: #2b8ced;
}
[_ngcontent-amt-c60].offer-seller-info a[_ngcontent-amt-c60] {
	text-decoration: none;
}
.small-chip i {
	font-size: 18px;
	margin-right: 5px;
}
.completed-orders i, .completed-orders-chip i {
	color: #2b8ced;
	font-weight: 700;
}
[_ngcontent-amt-c60].completed-orders-chip i[_ngcontent-amt-c60] {
	color: #2b8ced;
	font-weight: 700;
}
.score-chip i {
	color: #ffc001;
}
[_ngcontent-amt-c60].offer-seller-feedback-score i[_ngcontent-amt-c60] {
	color: #ffc001;
}
[_ngcontent-amt-c60].offer-seller-username > i[_ngcontent-amt-c60] {
	color: #36af47;
	font-size: 13px;
	margin-left: 5px;
	cursor: default;
}
eld-shared-svg-profile[_ngcontent-amt-c63], img[_ngcontent-amt-c63] {
	border-radius: 3px;
}
[_ngcontent-amt-c69].discount-tooltip {
	width: 180px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
[_ngcontent-amt-c69].tooltips-header {
	color: #ffc001;
}
[_ngcontent-amt-c69].discount-tooltip > div[_ngcontent-amt-c69] {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 10px;
}
[_ngcontent-amt-c69].discount-tooltip [_ngcontent-amt-c69].tooltips-header {
	margin-bottom: 0px;
}
[_ngcontent-amt-c69].discount-tooltip [_ngcontent-amt-c69].tooltip-separator {
	margin: 8px 0 10px;
	border-top: 1px solid #6b6b7e !important;
}
[_ngcontent-amt-c69].discount-tooltip > div[_ngcontent-amt-c69]:last-child {
	margin-bottom: 0px;
}
[_ngcontent-amt-c69].discount-tooltip p[_ngcontent-amt-c69] {
	font-size: 12px;
	line-height: 14px;
}
[_ngcontent-amt-c61].discount [_ngcontent-amt-c61].label {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 14px;
	color: #4a4a5d;
}
[_ngcontent-amt-c61].discount [_ngcontent-amt-c61].label span[_ngcontent-amt-c61] {
	margin-left: 5px;
}
svg[_ngcontent-amt-c64] {
	border-radius: 3px;
}
[_ngcontent-amt-c59].is-late {
	color: #fc6161;
}
[_nghost-amt-c54] {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #e9e9ee;
	border-radius: 3px;
	padding: 40px;
}
[_ngcontent-amt-c52].game-offer-section > eld-game-offer-item-details-card[_ngcontent-amt-c52] {
	width: 730px;
}
[_ngcontent-amt-c52].game-offer-section > [_ngcontent-amt-c52].buy-now-card {
	width: 350px;
	align-self: flex-start;
}
[_nghost-amt-c55] {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: start;
	justify-content: flex-start;
	background-color: #fff;
	border: 1px solid #e9e9ee;
	border-radius: 3px;
}
[_ngcontent-amt-c56].trade-shield-block {
	display: -webkit-box;
	display: flex;
	border-radius: 3px;
	padding: 23px 30px 15px;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #e9e9ee;
}
[_ngcontent-amt-c56].trade-shield-text-top {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	align-items: flex-end;
	margin-bottom: 6px;
}
p[_ngcontent-amt-c56] {
	color: #4a4a5d;
}
h3 {
	margin-bottom: 10px;
	line-height: normal;
	font-size: 36px;
	color: #4a4a5d;
}
h3[_ngcontent-amt-c56] {
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #4a4a5d;
}
a[_ngcontent-amt-c56] {
	font-size: 14px;
	line-height: 21px;
}
[_ngcontent-amt-c55].buy-unit-price-details {
	height: 70px;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-align: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
[_ngcontent-amt-c55].buy-details-wrapper {
	padding: 20px 30px;
}
[_ngcontent-amt-c55].buy-delivery-time {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	border: 1px solid #e9e9ee;
	border-radius: 3px;
	padding: 14px 10px;
	margin-bottom: 25px;
}
[_ngcontent-amt-c55].buy-details {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom: 14px;
}
[_ngcontent-amt-c55].quantity-details {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	font-size: 14px;
	padding-bottom: 19px;
	flex-wrap: wrap;
}
[_ngcontent-amt-c55].buy-price {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 14px;
}
[_ngcontent-amt-c55].validation-errors {
	margin-top: 20px;
}
[_ngcontent-amt-c55].buy-info {
	margin-top: 20px;
	text-align: center;
	color: #9898a3;
	font-weight: 400;
	font-family: "Maison Neue",sans-serif;
	font-size: 14px;
}
button[_ngcontent-amt-c9]::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	background: rgba(255,255,255,.5);
	opacity: 0;
	border-radius: 100%;
	-webkit-transform: scale(1, 1) translate(-50%);
	transform: scale(1) translate(-50%);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
[_ngcontent-amt-c9].button {
	position: relative;
	width: 100%;
	min-width: 95px;
	min-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 6px 20px;
	border: 0;
	border-radius: 3px;
	box-shadow: 0px 2px 2px rgba(76,57,8,0.15);
	white-space: normal !important;
	cursor: pointer;
	background-color: #2b8ced;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: background-color .2s ease-out, box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
	transition: background-color .2s ease-out, box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}
[_ngcontent-amt-c9].button-apple-animated {
	color: #fff;
	background-color: #36af47;
}
/* @media all and (min-width:1024px) */
[_ngcontent-amt-c9].button-apple-animated::after, [_ngcontent-amt-c9].button-apple-animated::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 200%;
	background: rgba(255,255,255,.325);
	-webkit-transform: skew(-15deg) translateX(-25px);
	transform: skew(-15deg) translateX(-25px);
	-webkit-filter: blur(1px);
	filter: blur(1px);
	top: -50%;
	left: 0px;
	-webkit-animation-delay: 7.5s;
	animation-delay: 7.5s;
	-webkit-animation: 7.5s cubic-bezier(.93, .04, .47, .47) infinite sheenA;
	animation: 7.5s cubic-bezier(.93,.04,.47,.47) infinite sheenA;
}
/* @media all and (min-width:1024px) */
[_ngcontent-amt-c9].button-apple-animated::before {
	-webkit-filter: blur(0);
	filter: blur(0);
	width: 5px;
	left: 8px;
	background: rgba(255,255,255,.275);
	-webkit-animation: 7.5s cubic-bezier(.93, .04, .47, .47) infinite sheenB;
	animation: 7.5s cubic-bezier(.93,.04,.47,.47) infinite sheenB;
}
[_ngcontent-amt-c55].buy-button > eld-shared-button[_ngcontent-amt-c55] button {
	height: 50px;
}
i[_ngcontent-amt-c9], span[_ngcontent-amt-c9] {
	display: inline-block;
}
[_ngcontent-amt-c9].button-text {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}
i[_ngcontent-amt-c9] {
	margin-right: 10px;
	font-size: 14px;
}
[_ngcontent-amt-c9].button-text [_ngcontent-amt-c9].material-icons {
	font-size: 18px;
}
[_ngcontent-amt-c55].buy-price [_ngcontent-amt-c55].label {
	color: #4a4a5d;
}
[_ngcontent-amt-c55].quantity-details [_ngcontent-amt-c55].label {
	color: #9898a3;
}
[_nghost-amt-c67] {
	display: inline-block;
}
[_ngcontent-amt-c67].number-input-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	border-radius: 3px;
	margin-top: -1px;
	border: 1px solid #b4b4bc;
}
[_ngcontent-amt-c67].number-input-container.with-controls, [_ngcontent-amt-c67].number-input-container.with-controls:focus, [_ngcontent-amt-c67].number-input-container.with-controls:hover {
	border: 1px solid #e9e9ee;
}
[_ngcontent-amt-c67].control {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #e9e9ee;
	font-size: 24px;
	color: #040319;
	height: 33px;
	width: 34px;
	-webkit-transition: .2s;
	transition: all .2s ease;
}
[_ngcontent-amt-c67].control.subtract-control {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
[_ngcontent-amt-c67].input-wrapper {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #2d2e3f;
	font-weight: 400;
	font-family: "Maison Neue",sans-serif;
	font-size: 14px;
}
[_ngcontent-amt-c67].input-wrapper {
	padding: 1px;
}
[_ngcontent-amt-c67].control.add-control {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
[_ngcontent-amt-c67].control > span[_ngcontent-amt-c67] {
	color: #040319;
	height: 20px;
}
[_ngcontent-amt-c67].input {
	border: none;
	height: 31px;
	color: #2d2e3f;
	font-weight: 400;
	font-family: "Maison Neue",sans-serif;
	font-size: 14px;
	padding: 3px 0 0 15px;
	width: 110px;
}
[_ngcontent-amt-c55].buy-details [_ngcontent-amt-c55].label {
	margin-right: 7px;
	color: #9898a3;
}
[_ngcontent-amt-c55].buy-details [_ngcontent-amt-c55].value {
	color: #4a4a5d;
}
h6[_ngcontent-amt-c55] {
	display: -webkit-box;
	display: flex;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 25px;
}
[_ngcontent-amt-c55].buy-delivery-time [_ngcontent-amt-c55].buy-delivery-time-entries {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: wrap;
}
[_ngcontent-amt-c55].buy-delivery-time [_ngcontent-amt-c55].buy-delivery-time-entry {
	margin-bottom: 5px;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}
[_ngcontent-amt-c55].buy-delivery-time [_ngcontent-amt-c55].label {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 21px;
	color: #9898a3;
}
[_ngcontent-amt-c55].buy-delivery-time [_ngcontent-amt-c55].small-chip {
	min-width: 115px;
	font-size: 14px;
	padding: 9px 10px 5px;
	text-align: center;
	margin-right: 0px;
}
[_ngcontent-amt-c55].avg-delivery-time {
	color: #36af47;
}
[_ngcontent-amt-c55].buy-delivery-time [_ngcontent-amt-c55].small-chip strong[_ngcontent-amt-c55] {
	width: 100%;
}
h6[_ngcontent-amt-c55] i[_ngcontent-amt-c55] {
	font-size: 21px;
	margin-right: 8px;
}
[_ngcontent-amt-c55].buy-unit-price {
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: end;
	align-items: flex-end;
	padding: 8px 8px 5px;
	margin: 0 30px;
	color: #4a4a5d;
	background-color: #fff;
	border-radius: 3px;
}
[_ngcontent-amt-c55].buy-unit-system {
	padding-bottom: 3px;
	font-size: 12px;
	margin-left: 5px;
	color: #4a4a5d;
	text-transform: capitalize;
}
[_ngcontent-amt-c54].first-row {
	width: 100%;
	display: -webkit-box;
	display: flex;
}
[_ngcontent-amt-c54].offer-details-description {
	position: relative;
	margin-top: 40px;
}
[_ngcontent-amt-c54].offer-details-description h5[_ngcontent-amt-c54] {
	margin-bottom: 15px;
}
[_ngcontent-amt-c54].offer-details-description p[_ngcontent-amt-c54] {
	white-space: pre-wrap;
	color: #2d2e3f;
	font-weight: 400;
	font-family: "Maison Neue",sans-serif;
	font-size: 14px;
}
[_ngcontent-amt-c54].offer-details-description [_ngcontent-amt-c54].read-more {
	display: none;
}
[_ngcontent-amt-c54].read-less span[_ngcontent-amt-c54], [_ngcontent-amt-c54].read-more span[_ngcontent-amt-c54] {
	font-size: 14px;
	color: #2b8ced;
	cursor: pointer;
}
[_ngcontent-amt-c54].offer-details {
	width: 100%;
	max-width: 348px;
}
[_ngcontent-amt-c54].offer-details-head {
	padding-bottom: 10px;
}
[_ngcontent-amt-c54].offer-seller {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 0px;
	padding-bottom: 20px;
}
[_ngcontent-amt-c54].offer-seller-head {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
[_ngcontent-amt-c54].offer-seller-head span[_ngcontent-amt-c54] {
	cursor: pointer;
	font-size: 14px;
	color: #2b8ced;
}
h4[_ngcontent-amt-c54] {
	margin-top: 10px;
	padding-bottom: 10px;
}
[_ngcontent-amt-c50].offer-label {
	margin-bottom: 5px;
}
[_ngcontent-amt-c50].offer-label p[_ngcontent-amt-c50] {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	line-height: 16px;
	color: #2d2e3f;
	font-weight: 400;
	font-family: "Maison Neue",sans-serif;
	font-size: 14px;
}
[_ngcontent-amt-c51].trade-env-item {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	align-items: flex-start;
	font-size: 14px;
	line-height: 16px;
	color: #4a4a5d;
}
img[_ngcontent-amt-c51], svg[_ngcontent-amt-c51] {
	margin-right: 5px;
}
[_ngcontent-amt-c54].image-container {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	min-width: 255px;
	height: 255px;
	margin-right: 45px;
	background-color: #080808;
	border-radius: 3px;
}
[_nghost-amt-c18].rounded-edges, .rounded-edges [_nghost-amt-c18] {
	border-radius: 3px;
}
[_ngcontent-amt-c54].image-container > eld-shared-image[_ngcontent-amt-c54] {
	max-width: 255px;
	max-height: 255px;
}
[_ngcontent-amt-c54].image-container > eld-shared-image[_ngcontent-amt-c54] img {
	border-radius: 3px;
}
[_nghost-amt-c18].rounded-edges [_ngcontent-amt-c18].app-image, .rounded-edges [_nghost-amt-c18] [_ngcontent-amt-c18].app-image {
	border-radius: 3px;
}
[_ngcontent-amt-c53].breadcrumbs {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	padding: 25px 0;
}
span[_ngcontent-amt-c53] {
	padding: 0 7px;
	font-weight: 400;
	color: #6b6b7e;
}
a[_ngcontent-amt-c53] {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #6b6b7e;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: all .2s ease;
}
[_ngcontent-amt-c1].app-header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 9997;
	background: #fff;
}
[_ngcontent-amt-c1].app-header nav[_ngcontent-amt-c1] {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 60px;
	box-shadow: 0px 3px 4px rgba(107,107,126,0.15);
}
[_ngcontent-amt-c1].left-nav-side {
	display: -webkit-box;
	display: flex;
}
[_ngcontent-amt-c1].navbar-content {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}
[_ngcontent-amt-c1].button-wrapper {
	margin-right: 20px;
}
[_ngcontent-amt-c1].navbar-content eld-navbar-links[_ngcontent-amt-c1] {
	margin-right: 15px;
}
[_ngcontent-amt-c10].navbar-links {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	align-items: center;
}
[_ngcontent-amt-c10].navbar-links [_ngcontent-amt-c10].navbar-link {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: #4a4a5d;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 700;
}
[_ngcontent-amt-c10].navbar-links [_ngcontent-amt-c10].navbar-link i[_ngcontent-amt-c10] {
	font-size: 18px;
	margin-right: 5px;
	margin-bottom: 2px;
}
[_ngcontent-amt-c9].button-gold {
	color: #fff;
	background-color: #ffc001;
}
[_nghost-amt-c8] {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
[_ngcontent-amt-c8].categories-menu {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-left: 10px;
}
[_ngcontent-amt-c8].dropdown-container {
	position: absolute;
	max-width: 1440px;
	top: 60px;
	background: 0 0;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	z-index: -1;
}
/* @media all and (min-width:1023px) */
eld-categories-menu-dropdown-button[_ngcontent-amt-c8] {
	display: none;
}
[_ngcontent-amt-c8].dropdown-container eld-categories-menu-dropdown-button[_ngcontent-amt-c8] {
	display: none;
}
eld-categories-menu-dropdown[_ngcontent-amt-c8] {
	display: none;
}
[_ngcontent-amt-c23].category-menu-dropdown {
	width: 100%;
	max-width: 1440px;
	max-height: 285px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	flex-wrap: wrap;
	background: #fff;
	padding: 30px 20px 33px;
	border-radius: 0 0 3px 3px;
	box-shadow: 0px 4px 4px rgba(46,34,3,0.2);
}
[_ngcontent-amt-c23].category-menu-dropdown a[_ngcontent-amt-c23] {
	margin-right: 20px;
	margin-bottom: 5px;
	padding: 5px 8px;
	font-size: 14px;
	line-height: 21px;
	color: #4a4a5d;
}
[_ngcontent-amt-c23].category-menu-dropdown-item > a[_ngcontent-amt-c23] {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
[_ngcontent-amt-c23].category-menu-dropdown-item eld-shared-image[_ngcontent-amt-c23] {
	height: 28px;
}
[_ngcontent-amt-c23].category-menu-dropdown-item > a[_ngcontent-amt-c23] span[_ngcontent-amt-c23] {
	margin-left: 10px;
}
[_ngcontent-amt-c22].dropdown-button {
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 19px 21px 16px;
	background: #fafafa;
	border-bottom: 1px solid #e9e9ee;
	cursor: pointer;
}
[_ngcontent-amt-c22].dropdown-button span[_ngcontent-amt-c22] {
	font-size: 14px;
	font-weight: 700;
}
[_ngcontent-amt-c8].category-item {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 10px 5px 9px 10px;
	margin: 5px;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: all .2s ease;
	font-size: 14px;
	line-height: 21px;
	color: #4a4a5d;
}
[_ngcontent-amt-c8].category-item span[_ngcontent-amt-c8] {
	font-size: 14px;
	font-weight: 700;
}
[_ngcontent-amt-c8].category-item i[_ngcontent-amt-c8] {
	pointer-events: none;
}
[_ngcontent-amt-c7].brand-logo {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: color("secondary", "900");
	text-decoration: none;
}
[_ngcontent-amt-c7].brand-icon {
	display: -webkit-box;
	display: flex;
	padding: 11px 15px 9px 20px;
}
.buorg-pad {
	padding: 9px;
	line-height: 1.7em;
}
body .buorg .buorg-pad {
	padding: 30px;
}
.buorg-icon {
	width: 22px;
	height: 16px;
	vertical-align: middle;
	position: relative;
	top: -0.05em;
	display: inline-block;
	background: no-repeat 0px center url(https://browser-update.org/static/img/small/i.png);
}
.buorg-icon {
	display: none;
}
.buorg-buttons {
	display: block;
	text-align: center;
}
.buorg-buttons, .buorg-mainmsg, .buorg-moremsg {
	display: block;
}
body .buorg .buorg-buttons {
	margin-top: 20px;
}
.buorg-buttons a {
	margin: 4px 2px;
}
#buorgig, #buorgul, #buorgpermanent {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	padding: 1px 10px;
	border-radius: 4px;
	font-weight: normal;
	background: #5ab400;
	white-space: nowrap;
	margin: 0 2px;
	display: inline-block;
}
#buorgig {
	background-color: #edbc68;
}
body .buorg #buorgig {
	background-color: #fc6161;
}
